<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433101278580-o9api6eft8db60liu56uqitscv32srla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433101278580-o9api6eft8db60liu56uqitscv32srla</string>
	<key>API_KEY</key>
	<string>AIzaSyDVb6FO20PKSSh8xroHaPUeX-vkANL0ozM</string>
	<key>GCM_SENDER_ID</key>
	<string>433101278580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prcarpolimi</string>
	<key>PROJECT_ID</key>
	<string>prcarpolimi</string>
	<key>STORAGE_BUCKET</key>
	<string>prcarpolimi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433101278580:ios:9dc5d8bca32345e07e7021</string>
</dict>
</plist>